<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Contact Me 
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Wonah Godwin"/>
        <meta name="Copyright" content="Copyright Wonah Godwin, All Rights reserved"/>
        <meta name="description" content="I'm Godwin a freelance Web developer &amp; designer"/>
        {% load static %}
        <link href="{% static 'home\style.css' %}" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="jquery-3.6.0.min.js"></script>
    </head>
<body>
    <header class="header">
        <a href="{% url 'homepage' %}" class="header-brand" color="white"> ....Wonah<br> Developer</a>
        <nav>
             <ul>
                <li><a href="{% url 'contact' %}">Contact</a> </li>
                <li><a href="{% static 'home/Godwin Wonah Resume.pdf' %}" target="_blank">Resume</a></li>
            </ul>
        </nav>
    </header>
    <section class="contact-me">
        <div id="contact-form">
            <form method="POST" action="{% url 'contact' %}">
                {% csrf_token %}
                <fieldset>
                    <legend></legend>
                    <p>
                        <label>Name: </br>
                            <input type="text" id="input" name="name" data-help="Your Name" placeholder="Your Name"/>
                        </label></br>
                    </p>
                    <p>
                        <label>Email: </br>
                            <input type="text" id="input" name="email" data-help="Your Email" placeholder="Your Email"/>
                        </label></br>        
                    </p>
                    <p>
                        <label>Subject: </br>
                            <input type="text" id="input" name="subject" data-help="what do you need?" placeholder="What do You wanna Talk about?"/>
                        </label>        
                    </p>
                    <p> 
                        <label>Message: </br>
                        <textarea id="textarea" name="message"></textarea>
                        </label>
                    </p>
                </fieldset><br>
                    <input type="submit" value="Send" id="button"/>
            </form>    
        </div>            
    </section>
    <footer align="center" class="copy-footer">
        <article>
            &copy; Copyright Wonah Godwin, All rights reserved.<br>
            Connect with me.
        </article>
        <div id="socials"><a href="https://x.com/shypoet__"><img src="{% static 'home/xlogo.jpg' %}" alt="twitter"></a>
            <a href="https://www.quora.com/profile/Wonah-Godwin"><img src="{% static 'home/quoralogo.png' %}" alt="quora"></a>
            <a href="https://www.jobberman.com/account/customer/job-seeker"><img src="{% static 'home/jobbermanlogo.png' %}" alt="Jobberman"></a></div>
    </footer>
    <script src="main.js"></script>
</body>
</html>