{% load static %}

<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            WONAH | Developer
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Wonah Godwin"/>
        <meta name="Copyright" content="Copyright Wonah Godwin, All Rights reserved"/>
        <meta name="description" content="I'm Godwin a Django Web developer &amp; Python programmer"/>
        {% load static %}
        <link href="{% static 'home\style.css' %}" type="text/css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Space+Grotesk:wght@500;600&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <header class="header">
            <a href="{% url 'homepage' %}" class="header-brand" color="white"> ....Wonah<br> Developer</a>
            <nav>
                 <ul>
                    <li><a href="contact" target="_blank">Contact</a> </li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="guess_game" target="_blank">Play guess game</a></li>
                    <li><a href="{% static 'home/Godwin Wonah Resume.pdf' %}" target="_blank">Resume</a></li>
                    <li><a href="#About">About</a></li>
                </ul>
            </nav>
        </header>
        <section class="index">
        <div class="index-brand">
            <h1>HEY, I AM WONAH</h1>
            <p id="paragraph">
                                I'm a Django Developer passionate about building secure, scalable web applications.<br>
                I specialize in turning complex ideas into efficient back-end solutions that enhance performance, drive growth, and ensure reliability.            
            </p>
        </div>
        </section>
        <section class="index-about"><a name="About">
            <h2 align="center" id="about-h1">
                About Me 
            </h2>
            <div class="about" align="center">
            <img src="{% static 'home\meeeeee.jpg' %}" width="120" height="120" alt="image of Wonah" id="image"/>
            <span class="about-p">
                Hello, my name is Godwin Wonah. I'm a software developer specializing in Django-based web applications, Python programming, and web scraping. I’m passionate about building clean, scalable, and secure software that solves real-world problems and improves lives.

                With years of hands-on experience and a deep curiosity for how systems work, I’ve developed a variety of projects from responsive websites to complex backend systems. I’m confident working across both front-end and back-end stacks and have a solid grasp of databases, RESTful APIs, and modern web protocols.

                Beyond technical skills, I’m a strong communicator and a collaborative team player who values diversity and continuous learning. I enjoy sharing ideas, improving workflows, and constantly seeking ways to deliver better solutions.

                If you're looking for a Django developer who brings both technical expertise and a creative approach to solving problems, feel free to reach out. I’d love to learn more about your project and how I can contribute.

            </span>
                    <button id="message">
                        <a href="snake_game" target="_blank"> Play snake game. </a>
                    </button>
            </div></a>
        </section>
        <section id="hire-me"><a name="services">
            <h2 align="center" id="about-h2">Services</h2>
            <div class="container">
                <div class="box">
                    <h2>WEB DESIGN</h2>
                    <p>
                        A new website from the first idea to the successful launch. Together with you I make an appealing design that suits your business. I design using the latest techniques and trends.
                    </p>
                </div>
                <div class="box">
                    <h2>WEB DEVELOPMENT</h2>
                    <p>
                        I develop custom websites , keeping them unique, functional and modern. Considering the latest technologies like HTML5, CSS3, javascript and more.
                    </p>
                </div>
                <div class="box">
                    <h2>RESPONSIVE DESIGN</h2>
                    <p>
                        A website must be properly viewed on a wide variety of screens. I make sure that your website is always optimally usable on any device, any operating system and any web browser.
                    </p>       
                </div>
            </div>
            <div class="container">
                <div class="box">
                    <h2>WEBSITE RESTYLING</h2>     
                    <p>
                        Is your website out of date or need some improvement? I can help you update it into a modern, user-friendly and responsive website that will convert more visitors into customers and boost your conversion rate.
                    </p>
                </div>
                <div class="box">
                    <h2>MAINTENANCE & SUPPORT</h2>
                    <p>
                        From building your first website to maintaining your existing applications. I provide on-going support and maintenance services to ensure that your website always runs smoothly. I provide honest advice and the best possible support for you to reach your goals.
                    </p>
                </div>
                <div class="box">
                    <h2>LOGO CREATION</h2>
                    <p>
                        In need of a Logo for your business?
                        I got you covered.
                    </p>
                </div>
            </div>
            
        </div></a>
        </section>
        <footer align="center" class="copy-footer">
            <article>
                &copy; Copyright Wonah Godwin, All rights reserved.<br>
                Connect with me.
            </article>
            <div id="socials"><a href="https://x.com/shypoet__"><img src="{% static 'home/xlogo.jpg' %}" alt="twitter"></a>
                <a href="https://www.quora.com/profile/Wonah-Godwin"><img src="{% static 'home/quoralogo.png' %}" alt="quora"></a>
                <a href="https://www.jobberman.com/account/customer/job-seeker"><img src="{% static 'home/jobbermanlogo.png' %}" alt="Jobberman"></a>
            </div>
        </footer>
        
    </body>
</html>