{% load static %}

<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            WONAH | Developer
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Wonah Godwin"/>
        <meta name="Copyright" content="Copyright Wonah Godwin, All Rights reserved"/>
        <meta name="description" content="I'm Godwin a freelance Web developer &amp; designer"/>
        {% load static %}
        <link href="{% static 'home\style.css' %}" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <header class="header">
            <a href="{% url 'homepage' %}" class="header-brand" color="white"> ....Wonah<br> Developer</a>
            <nav>
                 <ul>
                    <li><a href="contact" target="_blank">Contact</a> </li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="Profile.pdf" target="_blank">Resume</a></li>
                    <li><a href="#About">About</a></li>
                </ul>
            </nav>
        </header>
        <section class="index">
        <div class="index-brand">
            <h1>HEY, I AM WONAH</h1>
            <p id="paragraph">
                I am a Software Developer <br>who loves helping to improve response, drive sales, boost profitability and provide security by building scalable Software applications 
            </p>
        </div>
        </section>
        <section class="index-about"><a name="About">
            <h2 align="center" id="about-h1">
                About Me 
            </h2>
            <div class="about" align="center">
                <img src="{% static 'home\meeeeee.jpg' %}" width="120" height="120" alt="image of Wonah" id="image"/>
                <span class="about-p">
                    Hello, my name is Godwin Wonah, I'm a software developer with a focus on web development, software development, web scraping, Python programming, and C# programming. I'm passionate about creating high-quality software solutions that solve real-world problems and improve people's lives.

                    With almost a decade years of experience in really studying the computers and programs, I've worked on a wide range of projects, from small web applications to large-scale enterprise systems. I'm comfortable working with both front-end and back-end technologies, and I have a strong understanding of databases, APIs, and web protocols.
                    
                    In addition to my technical skills, I'm a team player with excellent communication and collaboration skills. I enjoy working with people from diverse backgrounds and learning from their perspectives. I'm also a lifelong learner who is always looking for new challenges and opportunities to expand my knowledge and skills.
                    
                    If you're looking for a skilled software developer who can help you build reliable, scalable, and user-friendly software solutions, please don't hesitate to contact me. I'd be happy to discuss your project and see how I can help.
                </span>
                    <button id="message">
                        <a href="snake_game" target="_blank"> Projects </a>
                    </button>
            </div></a>
        </section>
        <section id="hire-me"><a name="services">
            <h2 align="center" id="about-h2">Services</h2>
            <div class="container">
                <div class="box">
                    <h2>WEB DESIGN</h2>
                    <p>
                        A new website from the first idea to the successful launch. Together with you I make an appealing design that suits your business. I design using the latest techniques and trends.
                    </p>
                </div>
                <div class="box">
                    <h2>WEB DEVELOPMENT</h2>
                    <p>
                        I develop custom websites , keeping them unique, functional and modern. Considering the latest technologies like HTML5, CSS3, javascript and more.
                    </p>
                </div>
                <div class="box">
                    <h2>RESPONSIVE DESIGN</h2>
                    <p>
                        A website must be properly viewed on a wide variety of screens. I make sure that your website is always optimally usable on any device, any operating system and any web browser.
                    </p>       
                </div>
            </div>
            <div class="container">
                <div class="box">
                    <h2>WEBSITE RESTYLING</h2>     
                    <p>
                        Is your website out of date or need some improvement? I can help you update it into a modern, user-friendly and responsive website that will convert more visitors into customers and boost your conversion rate.
                    </p>
                </div>
                <div class="box">
                    <h2>MAINTENANCE & SUPPORT</h2>
                    <p>
                        From building your first website to maintaining your existing applications. I provide on-going support and maintenance services to ensure that your website always runs smoothly. I provide honest advice and the best possible support for you to reach your goals.
                    </p>
                </div>
                <div class="box">
                    <h2>LOGO CREATION</h2>
                    <p>
                        In need of a Logo for your business?
                        I got you covered.
                    </p>
                </div>
            </div>
            
        </div></a>
        </section>
        <footer align="center" class="copy-footer">
            <article>
                &copy; Copyright Wonah Godwin, All rights reserved.<br>
                Connect with me.
            </article>
            <div id="socials"><a href="https://x.com/shypoet__"><img src="{% static 'home/xlogo.jpg' %}" alt="twitter"></a>
                <a href="https://www.quora.com/profile/Wonah-Godwin"><img src="{% static 'home/quoralogo.png' %}" alt="quora"></a>
                <a href="https://www.jobberman.com/account/customer/job-seeker"><img src="{% static 'home/Jobbermanlogo.png' %}" alt="Jobberman"></a></div>
        </footer>
        <script src="main.js" type=”text/javascript”></script>
        <script type="text/javascript">
           /* function changeImage(){
                $("#image").attr("src","image/IMG.jpg");
                $("#image").attr("alt","Image of Godwin");
            }
            $(document).ready(function(){
                setTimeout(changeImage,2000);
            });*/
        </script>
    </body>
</html>