<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            what can i do for you?
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="wonah Godwin"/>
        <meta name="Copyright" content="Copyright Wonah Godwin, All Rights reserved"/>
        <meta name="description" content="I'm Wonah a freelance Web developer &amp; designer"/>
        <link href="style.css" type="text/css" rel="stylesheet"/>
    </head>
    <body>
        <header class="container">
            <a href="index.html" class="header-brand" color="white"> ....Wonah<br> Web developer</a>
            <nav>
                 <ul>
                    <li><a href="contact.html" target="_blank">Contact</a> </li>
                    <li><a href="services.html" target="=_blank">Services</a></li>
                    <li><a href="portfolio.html" target="_blank">Portfolio</a></li>
                </ul>
            </nav>
        </header>
        <section class="services">
            <h2 align="center" id="about-h2">What can I do for You?</h2>
            <div class="services-container">
                <ul>
                    <li> <article class="services1">
                        <h2>WEB DESIGN</h2>
                        <p>
                            A new website from the first idea to the successful launch. <br>Together with you I make an appealing design that suits your business.<br> I design using the latest techniques and trends.
                        </p>
                    </article></li>
                    <li><article class="services2">
                        <h2>WEB DEVELOPMENT</h2>
                        <p>
                            I develop custom websites , keeping them unique, functional and modern.<br> Considering the latest technologies like HTML5, CSS3, javascript and more.
                        </p>
                    </article></li>
                    <li><article class="services3">
                        <h2>RESPONSIVE DESIGN</h2>
                        <p>
                            A website must be properly viewed on a wide variety of screens.<br> I make sure that your website is always optimally usable on any device,<br> any operating system and any web browser.
                        </p>       
                    </article></li>
                    <li><article class="services4">
                        <h2>WEBSITE RESTYLING</h2>     
                        <p>
                            Is your website out of date or need some improvement?<br> I can help you update it into a modern, user-friendly<br> and responsive website that will convert more visitors into customers and<br> boost your conversion rate.
                        </p>
                    </article></li>
                    <li><article class="services5">
                        <h2>MAINTENANCE & SUPPORT</h2>
                        <p>
                            From building your first website to maintaining your existing applications.<br> I provide on-going support and maintenance services<br> to ensure that your website always runs smoothly. I provide honest advice<br> and the best possible support for you to reach your goals.
                        </p>
                    </article></li>
                    <li>
                        <article class="services6">
                            <h2>LOGO CREATION</h2>
                            <p>
                                In need of a Logo for your business?
                                I got you covered.
                            </p>
                        </article>
                    </li>
                </ul>
            </div>
            <a href="contact.html" id="message-services"><b>Contact me</b></a>
        </section>
        <footer align="center" class="copy-footer">
            <article>
                &copy; Copyright Wonah Godwin, All rights reserved.<br>
                Connect with me.
            </article>
        </footer>
        <script src="main.js" type=”text/javascript”></script>
    </body>
</html>