{% load static %}

<!Doctype html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Snake_Game
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="author" content="Wonah Godwin"/>
        <meta name="Copyright" content="Copyright Wonah Godwin, All Rights reserved"/>
        <meta name="description" content="I'm Godwin a freelance Web developer &amp; designer"/>
        {% load static %}
        <link href="{% static 'home\style.css' %}" type="text/css" rel="stylesheet"/>
        <script type="text/javascript" src="jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div align="center">
            <h1>Play the Snake Game 🐍</h1>
            <p>Use the arrow keys to control the snake.</p>
        </div>
    </body>
    <iframe src="https://replit.com/@wonahgodwin40/SnakeGame?embed=true" frameborder="0" width="100%" height="300px"></iframe>

   